@heading-font-family-1: "Raleway Regular", "Arial", sans-serif;

@heading-font-family-2: "Raleway SemiBold", "Arial", sans-serif;

@heading-font-family-3: "Raleway Bold", "Arial", sans-serif;

@heading-font-family-4: "Raleway Medium", "Arial", sans-serif;

@paragraph-font-family: "Montserrat", "Arial", sans-serif;

@paragraph-font-family-2: "Roboto", "Arial", sans-serif;

@font-color-1: #fff;

@font-color-2: #8c8c8c;

@font-color-3: #c7b299;

@font-color-4: #555555;

@font-color-5: #615855;

@font-color-6: #c7b29a;

@font-color-7: #d1d1d1;

@font-color-8: #545454;

@font-color-9: #00bff3;

@font-color-10: #959595;

@font-color-11: #242424;


@bg-color-1: #998675;

@bg-color-2: #736357;

@bg-color-3: #fbfaf8;

@bg-color-4: #998675;

@bg-color-5: #362f2d;

@bg-color-6: #f1eee9;

@bg-color-7: #f8f8f8;

@bg-color-8: #363636;

@bg-color-9: #252525;

@bg-color-10: #a48d72;

@bg-color-11: #191919;

@bg-color-12: #111111;


@border-color: #d3c1ad;

@font-hover-color: #c7b29a;