@import "/helpers/_variables.less";
@import "/base/_normalize.less";
@import "/base/_reset.less";
@import "/helpers/_mixins.less";

@font-face {
  font-family: "Raleway Regular";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/raleway-regular-webfont.woff2") format("woff2"),
    url("../fonts/raleway-regular-webfont.woff") format("woff"),
    url("../fonts/raleway-regular.ttf") format("truetype"),
    url("../fonts/raleway-regular-webfont.eot") format("eot");
}

@font-face {
  font-family: "Raleway Medium";
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/raleway-medium-webfont.woff2") format("woff2"),
    url("../fonts/raleway-medium-webfont.woff") format("woff"),
    url("../fonts/raleway-medium.ttf") format("truetype"),
    url("../fonts/raleway-medium-webfont.eot") format("eot");
}

@font-face {
  font-family: "Raleway SemiBold";
  font-style: normal;
  font-weight: 600;
  src:
    url("../fonts/raleway-semibold-webfont.woff2") format("woff2"),
    url("../fonts/raleway-semibold-webfont.woff") format("woff"),
    url("../fonts/raleway-semibold.ttf") format("truetype"),
    url("../fonts/raleway-semibold-webfont.eot") format("eot");
}

@font-face {
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/raleway-bold-webfont.woff2") format("woff2"),
    url("../fonts/raleway-bold-webfont.woff") format("woff"),
    url("../fonts/raleway-bold.ttf") format("truetype"),
    url("../fonts/raleway-bold-webfont.eot") format("eot");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
          url("../fonts/roboto-webfont.woff2") format("woff2"),
          url("../fonts/roboto-webfont.woff") format("woff"),
          url("../fonts/roboto.ttf") format("truetype"),
          url("../fonts/roboto-webfont.eot") format("eot");
}


.content-wrapper {
  .content-wrapper-prop();
}

.small-letters-word {
  text-transform : lowercase;
}

.main-page {
  position: relative;
}


//Header

.page-header {
  position         : fixed;
  top              : 0;
  left             : 0;
  width            : 100%;
  background-color : rgba(0, 0, 0, 0.5);
  z-index          : 5;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo__title {
  .heading-prop(@heading-font-family-1, @font-color-1);
  font-size: 2.125rem;
  vertical-align: middle;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  color: @font-color-1;
  justify-content: flex-start;
  align-items: center;
}

.main-menu__link {
  color           : @font-color-1;
  font-family     : @paragraph-font-family;
  font-size       : 0.875rem;
  font-weight     : 300;
  text-decoration : none;
  padding         : 15px 0;
  margin-right    : 29px;
  text-transform  : capitalize;
  &:hover {
    color: @font-hover-color;
  }
}

.main-menu__item:last-of-type {
  .main-menu__link {
    margin-right    : 0;
  }
}

.purchase-icon-link {
  &:hover {
    .purchase-icon-svg {
      fill: @font-color-3;
    }
  }
  margin-left: 28px;
}

.purchase-icon-svg,
.search-request-icon-svg {
  fill: @font-color-1;
  margin-left: 28px;
}

#search-radio-closed,
#search-radio-opened,
label[for="search-radio-opened"] {
  display: none;
}

#search-radio-closed {
  margin-left: 50px;
  &:checked {
    ~ #search-request {
      display   : block;
      animation : searchAppearance .5s ease forwards;
    }
    ~ label[for="search-radio-closed"] {
      display: none;
    }
    ~ label[for="search-radio-opened"] {
      display: block;
    }
  }
  &:hover ~ label[for="search-radio-closed"] .search-request-icon-svg {
    fill: @font-color-3;
  }
}

#search-radio-opened {
  margin-left: 50px;
  &:checked {
    ~ #search-request {
      animation : searchHiding .5s ease forwards;
    }
    ~ label[for="search-radio-closed"] {
      display: block;
    }
    ~ label[for="search-radio-opened"] {
      display: none;
    }
  }
  &:hover ~ label[for="search-radio-opened"] .search-request-icon-svg {
    fill: @font-color-3;
  }
}


#search-request {
  position: absolute;
  top: 12px;
  right: 40px;
  width: 0;
  height: 30px;
  border: none;
  outline: none;
  padding: 0;
}

@keyframes searchAppearance {
  from {
    width: 0;
  }
  to {
    width: 730px;
    padding: 0 5px;
  }
}

@keyframes searchHiding {
  from {
    width: 730px;
    display: block;
    padding: 0 5px;
  }
  95% {
    width: 0;
    display: block;
  }
  to {
    display: none;
  }
}


//---------------------------------------------------------------------------


//Section Intro

.slider {
  position   : relative;
  box-sizing : border-box;
  input[type="radio"] {
    display : none;
  }
}

.slider__arrow {
  position: absolute;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  fill: @font-color-2;
  &:hover {
    fill: @border-color;
  }
  &:focus {
    outline: none;
  }
}

.slider__left-arrow {
  left: 200px;
}

.slider__right-arrow {
  right: 200px;
}

.slider_filter {
  background-color : rgba(0, 0, 0, 0.6);
  height: inherit;
}

.slider__inner {
  overflow: hidden;
}

.slider__slides {
  width           : 500%;
  display         : flex;
  justify-content : space-between;
  transition: transform 0.8s ease;
}

.slider__slide {
  width: 100%;
  height : 1024px;
  position: relative;
}

.slider__slide-1 {
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
}

.slider__slide-2 {
  background: url("../img/header-bg-2.jpg") no-repeat;
  background-size: cover;
}

.slider__slide-3 {
  background: url("../img/header-bg-3.jpg") no-repeat;
  background-size: cover;
}

.slider__slide-4 {
  background: url("../img/header-bg-4.jpg") no-repeat;
  background-size: cover;
}

.slider__slide-5 {
  background: url("../img/header-bg-5.jpg") no-repeat;
  background-size: cover;
}

.slider__controls {
  position          : absolute;
  left              : 50%;
  bottom            : 33px;
  z-index: 4;
  -webkit-transform : translateX(-50%);
  -moz-transform    : translateX(-50%);
  -ms-transform     : translateX(-50%);
  -o-transform      : translateX(-50%);
  transform         : translateX(-50%);
  label {
    display          : inline-block;
    width            : 11px;
    height           : 11px;
    margin           : 5px;
    background-color : #cccccc;
    border-radius    : 50%;
    cursor           : pointer;
    vertical-align   : middle;
  }
}

#toggle-one:checked ~ .slider__controls label[for="toggle-one"],
#toggle-two:checked ~ .slider__controls label[for="toggle-two"],
#toggle-three:checked ~ .slider__controls label[for="toggle-three"],
#toggle-four:checked ~ .slider__controls label[for="toggle-four"],
#toggle-five:checked ~ .slider__controls label[for="toggle-five"],
#toggle-one:checked:hover ~ .slider__controls label[for="toggle-one"],
#toggle-two:checked:hover ~ .slider__controls label[for="toggle-two"],
#toggle-three:checked:hover ~ .slider__controls label[for="toggle-three"],
#toggle-four:checked:hover ~ .slider__controls label[for="toggle-four"],
#toggle-five:checked:hover ~ .slider__controls label[for="toggle-five"] {
  border           : solid 2px @border-color;
  background-color : transparent;
  cursor: auto;
}

#toggle-one:checked ~ .slider__inner .slider__slides {
  -webkit-transform : translate(0);
  -moz-transform    : translate(0);
  -ms-transform     : translate(0);
  -o-transform      : translate(0);
  transform         : translate(0);
}

#toggle-two:checked ~ .slider__inner .slider__slides {
  -webkit-transform:  translateX(-20%);
  -moz-transform:     translateX(-20%);
  -ms-transform:      translateX(-20%);
  -o-transform:       translateX(-20%);
  transform:          translateX(-20%);
}

#toggle-three:checked ~ .slider__inner .slider__slides {
  -webkit-transform:  translateX(-40%);
  -moz-transform:     translateX(-40%);
  -ms-transform:      translateX(-40%);
  -o-transform:       translateX(-40%);
  transform:          translateX(-40%);
}

#toggle-four:checked ~ .slider__inner .slider__slides {
  -webkit-transform : translateX(-60%);
  -moz-transform    : translateX(-60%);
  -ms-transform     : translateX(-60%);
  -o-transform      : translateX(-60%);
  transform         : translateX(-60%);
}

#toggle-five:checked ~ .slider__inner .slider__slides {
  -webkit-transform : translateX(-80%);
  -moz-transform    : translateX(-80%);
  -ms-transform     : translateX(-80%);
  -o-transform      : translateX(-80%);
  transform         : translateX(-80%);
}

.slider__content {
  display           : flex;
  flex-direction    : column;
  align-items       : center;
  max-width         : 760px;
  position          : absolute;
  top               : 50%;
  left              : 50%;
  -webkit-transform : translate(-50%, -50%);
  -moz-transform    : translate(-50%, -50%);
  -ms-transform     : translate(-50%, -50%);
  -o-transform      : translate(-50%, -50%);
  transform         : translate(-50%, -50%);
  z-index           : 3;
}

#toggle-one:hover ~ .slider__controls label[for="toggle-one"],
#toggle-two:hover ~ .slider__controls label[for="toggle-two"],
#toggle-three:hover ~ .slider__controls label[for="toggle-three"],
#toggle-four:hover ~ .slider__controls label[for="toggle-four"],
#toggle-five:hover ~ .slider__controls label[for="toggle-five"] {
  background-color: darken(@border-color, 20%);
}

.intro-slider__main-heading {
  font-family    : @heading-font-family-3;
  color          : @font-color-1;
  font-size      : 3.25rem;
  text-align     : center;
  text-transform : capitalize;
  line-height: 1;
  margin: 12px 0;
}

.intro-slider__second-heading {
  order          : -1;
  font-family    : @heading-font-family-3;
  color          : @font-color-1;
  font-size      : 2.25rem;
  text-align     : center;
  text-transform : capitalize;
  line-height: 1;
  margin: 0;
}

.intro-slider__text {
  font-family : @paragraph-font-family;
  font-size   : 1rem;
  color       : @font-color-1;
  font-weight : 300;
  line-height : 1.5;
  text-align  : center;
  margin      : 5px 0 47px;
  padding     : 0 30px;
}

.intro-slider__button {
  background-color : @bg-color-1;
  color            : @font-color-1;
  font-family      : @heading-font-family-3;
  padding          : 17px 39px;
  border-radius    : 3px;
  box-shadow       : 0 2px 0 0 @bg-color-2;
  text-transform   : uppercase;
  text-decoration  : none;
  font-size: 0.875rem;
  &:hover {
    background-color: darken(@bg-color-1, 10%);
  }
  &:active {
    box-shadow       : inset -2px 2px 0 0 @bg-color-2;
  }
}

//-----------------------------------------------------------------------------------


//Services-and-ideas

.services {
  background-color: #fff;
}

.services__list {
  display         : flex;
  justify-content : space-between;
}

.services__item {
  text-align : center;
  padding    : 38px 0 0;
  & + .services__item {
    margin-left : 30px;
  }
  &:hover {
    .services__icon-svg {
      fill: @font-color-3;
    }
    .services__heading {
      color : @font-color-3;
    }
    .services__description::after {
      background-color : @font-color-3;
    }
  }
}

.services__icon-svg {
  fill: @font-color-4;
}

.services__description {
  position: relative;
  padding-bottom: 58px;
  &::after {
    content           : "";
    display           : block;
    position          : absolute;
    width             : 70px;
    height            : 3px;
    background-color  : @bg-color-6;
    bottom            : 40px;
    left              : 50%;
    -webkit-transform : translateX(-50%);
    -moz-transform    : translateX(-50%);
    -ms-transform     : translateX(-50%);
    -o-transform      : translateX(-50%);
    transform         : translateX(-50%);
  }
}

.services__heading {
  font-family: @heading-font-family-3;
  color:  @font-color-4;
  font-size: 1.375rem;
  text-transform: capitalize;
  margin: 23px 0 0;
}
.services__text {
  font-family: @paragraph-font-family;
  font-weight: 300;
  color: @font-color-2;
  font-size: 0.875rem;
  line-height: 1.714;
  margin-top: 12px;
}


.services-and-ideas {
  background-color: @bg-color-3;
}

.services-and-ideas__heading {
  font-family: @heading-font-family-3;
  color: @font-color-4;
  font-size: 1.875rem;
  text-align: center;
  text-transform: capitalize;
  margin: 38px 0 0;
}

.services-and-ideas__text {
  font-family: @paragraph-font-family;
  color:  @font-color-2;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75;
  max-width: 757px;
  text-align: center;
  margin: 15px auto -3px;
}

.screenshots {
  position: relative;
  height: 482px;
  max-width: 1230px;
  margin: -3px auto 0;
}

.screenshots__screenshot-item {
  position: absolute;
  width: 770px;
  &:hover {
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 0 10px 0 @bg-color-1;
  }
}

.screenshots__screenshot-1 {
  height: 400px;
  background : url("../img/screenshot-3.jpg") no-repeat;
  bottom: 0;
  right: 0;
}

.screenshots__screenshot-2 {
  height: 400px;
  background : url("../img/screenshot-2.jpg") no-repeat;
  bottom: 0;
  left: 0;
}

.screenshots__screenshot-3 {
  height: 482px;
  background : url("../img/screenshot-1.jpg") no-repeat;
  top: 0;
  left: 50%;
  -webkit-transform : translateX(-50%);
  -moz-transform    : translateX(-50%);
  -ms-transform     : translateX(-50%);
  -o-transform      : translateX(-50%);
  transform         : translateX(-50%);
}


//---------------------------------------------------


//Purchase

.purchase {
  background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.purchase__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase__description-group {
  text-transform: capitalize;
}
.purchase__heading {
  font-family: @heading-font-family-1;
  font-size: 1.75rem;
  font-weight: normal;
  color: @font-color-1;
  margin: 3px 0 0;
}

.color-text {
  color: @font-color-3;
}

.purchase__text {
  font-family: @paragraph-font-family;
  color: @font-color-5;
  font-size: 1.125rem;
  font-weight: 300;
  margin: 6px 0 9px;
}

.purchase__button {
  background-color : @bg-color-1;
  color            : @font-color-1;
  font-family      : @heading-font-family-3;
  padding          : 17px 29px;
  border-radius    : 3px;
  box-shadow       : 0 2px 0 0 @bg-color-2;
  text-transform   : uppercase;
  text-decoration  : none;
  font-size: 0.875rem;
  &:hover {
    background-color: darken(@bg-color-1, 10%);
  }
  &:active {
    box-shadow       : inset -2px 2px 0 0 @bg-color-2;
  }
}

//------------------------------------------------------

//Projects

.projects__heading {
  font-family : @heading-font-family-3;
  color       : @font-color-4;
  font-size   : 1.875rem;
  text-align  : center;
  text-transform: capitalize;
  margin: 35px auto 17px;
}

.projects__text {
  font-family: @paragraph-font-family;
  color:  @font-color-2;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  max-width: 757px;
  margin: auto;
}

.projects-block__filter-controls {
  text-align: center;
  margin: 34px 0 40px;
}

.projects-block__filter-button {
  padding: 5px 22px;
  background-color: white;
  border: solid 1px #ebebeb;
  border-radius: 3px;
  font-family: @paragraph-font-family;
  color: @font-color-2;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  &:hover {
    background-color: @bg-color-4;
    border-color: @bg-color-4;
    color: @font-color-1;
  }
  &:focus {
    outline: none;
  }
  & + .projects-block__filter-button {
    margin-left: 5px;
  }
}

.projects-block__projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.projects-block__project-item {
  margin-bottom: 32px;
  &:hover {
    .overlay-wrapper__overlay {
      display: block;
    }
    .projects-block__description-container {
      background-color: @bg-color-5;
      &::before {
        border-bottom-color: @bg-color-5;
      }
    }
    .projects-block__project-heading {
      color: @font-color-1;
    }
    .projects-block__project-text {
      color: @font-color-3;
    }
  }
}

.overlay-wrapper {
  position: relative;
}

.overlay-wrapper__overlay {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.65);
}

.overlay-wrapper__link {
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 105px;
  left: 137px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  fill: @font-color-1;
  &:focus {
    outline : none;
  }
  &:hover {
    fill: @font-color-3;
  }
}

.overlay-wrapper__zoom {
  content: "";
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 104px;
  right: 152px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  fill: @font-color-1;
  &:focus {
    outline : none;
  }
  &:hover {
    fill: @font-color-3;
  }
}

.projects-block__project-image {
  display: block;
}

.projects-block__link {
  text-decoration: none;
}

.projects-block__description-container {
  background-color: @bg-color-3;
  padding: 28px 30px;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -18px;
    left: 28px;
    width: 0;
    height: 0;
    border: solid 10px transparent;
    border-bottom-color: @bg-color-3;
  }
}

.projects-block__project-heading {
  font-family: @heading-font-family-2;
  color: @font-color-6;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin: 0;
}

.projects-block__project-text {
  font-family: @paragraph-font-family;
  color:  @font-color-7;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.41;
}

.center {
  text-align: center;
  margin-top: 11px
}

.projects-block__load-more {
  background-color : @bg-color-1;
  color            : @font-color-1;
  font-family      : @heading-font-family-3;
  padding          : 16px 44px;
  border-radius    : 3px;
  box-shadow       : 0 2px 0 0 @bg-color-2;
  text-transform   : uppercase;
  text-decoration  : none;
  border: none;
  font-size: 0.875rem;
  margin-bottom: 42px;
  &:hover {
    background-color: darken(@bg-color-1, 10%);
    border-color: @bg-color-4;
  }
  &:active {
    box-shadow       : inset -2px 2px 0 0 @bg-color-2;
    border-color: @bg-color-4;
  }
  &:focus {
    outline: none;
  }
}


  //video presentation

  .video-presentation {
    width: auto;
    height: 100%;
    max-height: 705px;
    position: relative;
  }
  .video-container {
    width: 100%;
    height: 705px;
    overflow : hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }


//Mobile

.mobile {
  background-color: @bg-color-3;
  .content-wrapper {
    padding-bottom: 0;
  }
}

.image-and-content-group {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.image-and-content-group__img {
  margin-right: 30px;
  align-self: flex-end;
}

.content-group {
  width: 55%;
  align-self: center;
  margin-bottom: 79px;
}

.content-group__heading {
  font-family: @heading-font-family-3;
  color: @font-color-4;
  font-size: 1.875rem;
  text-transform: capitalize;
  margin-top: 15px;
}

.content-group__text,
.mobile-details {
  font-family: @paragraph-font-family;
  color: @font-color-2;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75;
}

.summary-icon-svg {
  fill: @font-color-3;
  position: absolute;
  top: 4px;
  left: 2px;
  -webkit-transition : transform .5s ease;
  -moz-transition    : transform .5s ease;
  -ms-transition     : transform .5s ease;
  -o-transition      : transform .5s ease;
  transition         : transform .5s ease;
}

.mobile-details {
  margin-left: 47px;
  &[open] {
    .summary-icon-svg {
      transform: rotate(90deg);
    }
  }
}

.content-group__text {
  margin-bottom: 33px;
}

.mobile-details__summary {
  display: block;
  cursor: pointer;
  padding-left: 52px;
  position: relative;
  margin-bottom: 4px;
  &::-webkit-details-marker {
    display: none;
  }
  &:hover {
    color: @font-color-3;
  }
}

.mobile-details__hidden-text {
  line-height: 2;
  margin: 5px 20px 30px 15px;
  font-size: 0.7rem;
  padding-left: 30px;
  margin-right: 0;
  margin-left: 0;
}



//counters

.counters {
  background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.figure-container {
  display: flex;
  justify-content: center;
}

.counter-figure {
  text-align: center;
  width: 174px;
  margin-top: 30px;
  position: relative;
  + .counter-figure {
    margin-left: 26px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: @font-color-1;
    bottom: 20px;
    left: 73px;
  }
}

.counter-icon-svg {
  fill: @font-color-3;
}

.counter-figure__num {
  display: block;
  font-family: @paragraph-font-family;
  color: @font-color-1;
  font-size: 3rem;
  font-weight: 200;
  line-height: 0.75;
  margin: 23px 0 15px;
}

.counter-figure__description {
  display: block;
  font-family: @paragraph-font-family;
  color:  @font-color-3;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.429;
  text-transform: uppercase;
  margin-bottom: 47px;
}


//Posts

.posts__heading-and-text-group {
  max-width : 760px;
  margin: 0 auto;
}

.posts__heading {
  font-family: @heading-font-family-3;
  color:  @font-color-4;
  font-size: 1.875rem;
  text-align: center;
  margin: 37px 0 15px;
}

.posts__text {
  font-family: @paragraph-font-family;
  color:  @font-color-2;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  margin: 0 0 33px;
}

.post__heading-and-description-group {
  padding: 13px 29px 28px;
}

.post__heading {
  font-family: @heading-font-family-2;
  color:  @font-color-4;
  font-size: 1.25rem;
}

.post__description {
  font-family : @paragraph-font-family;
  color       : @font-color-2;
  font-size   : 0.875rem;
  font-weight : 300;
  line-height : 1.571;
  margin-bottom: 19px;
}

.post__read-more-link {
  font-family: @paragraph-font-family;;
  color: @font-color-3;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.429;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-transform: capitalize;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: -18px;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    border-left-color: inherit;
  }
}

.posts-slider {
  padding-bottom: 101px;
}

.posts-slider__slider-slides,
.posts-slider__slide-1,
.posts-slider__slide-2 {
  display: flex;
  justify-content: space-between;
}

.posts-slider__slider-slides {
  width: 200%;
  transition: transform .8s ease;
}

.posts-slider__slide-1,
.posts-slider__slide-2 {
  width: 100%;
}

.post {
  width: 32%;
  border: solid 1px @bg-color-7;
  position: relative;
  &:hover {
    .overlay-wrapper__overlay {
      display: block;
    }
    .post__heading-and-description-group {
      background-color: @bg-color-5;
    }
    .post__heading,
    .post__read-more-link {
      color: @font-color-3;
    }
    .post__description {
      color: @font-color-1;
    }
    .post-pub-date__num {
      background-color: @font-color-3;
    }
    .post-pub-date__month {
      background-color: @bg-color-10;
    }
  }
}

.post__img {
  width: 100%;
  height: auto;
  display: block;
}

.post-pub-date {
  position: absolute;
  display: block;
  top: 21px;
  left: 23px;
  width: 50px;
  //border: 1px solid red;
  border-radius: 4px;
  overflow: hidden;
}

.post-pub-date__num {
  display: block;
  background-color: @bg-color-8;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  font-family: @paragraph-font-family;
  color: @font-color-1;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.post-pub-date__month {
  display: block;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  background-color: @bg-color-9;
  font-family: @paragraph-font-family-2;
  color:  @font-color-1;
  font-size: 0.75rem;
  text-align: center;
}

.posts-slider__controls {
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform : translateX(-50%);
  -moz-transform    : translateX(-50%);
  -ms-transform     : translateX(-50%);
  -o-transform      : translateX(-50%);
  transform         : translateX(-50%);
}

.toggle-icon-svg {
  fill: @bg-color-6;
}

#toggle-left:hover ~ .posts-slider__controls label[for="toggle-left"] .toggle-icon-svg,
#toggle-right:hover ~ .posts-slider__controls label[for="toggle-right"] .toggle-icon-svg {
  fill: darken(@bg-color-6, 10%);
}

#toggle-left:checked ~ .posts-slider__controls label[for="toggle-left"] .toggle-icon-svg,
#toggle-right:checked ~ .posts-slider__controls label[for="toggle-right"] .toggle-icon-svg {
  fill: @font-color-3;
}

#toggle-left:checked ~ .posts-slider__inner .posts-slider__slider-slides {
  -webkit-transform : translateX(0);
  -moz-transform    : translateX(0);
  -ms-transform     : translateX(0);
  -o-transform      : translateX(0);
  transform         : translateX(0);
}

#toggle-right:checked ~ .posts-slider__inner .posts-slider__slider-slides {
  -webkit-transform : translateX(-50%);
  -moz-transform    : translateX(-50%);
  -ms-transform     : translateX(-50%);
  -o-transform      : translateX(-50%);
  transform         : translateX(-50%);
}


//Partners

.partners {
  background: url("../img/partner-bg.jpg") no-repeat 0 50%;
  width: 100%;
  background-size: cover;
}

.filter {
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.partners__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 140px 0;
}

.partners__link {
  text-decoration: none;
}

.partners__item:hover .partners__logo {
  filter: sepia(100%);
}