html,
body,
figure {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
input,
textarea {
  outline: none;
}
input:visited,
textarea:visited,
input:hover,
textarea:hover,
input:active,
textarea:active {
  outline: none;
}
